.dashboardContainer{
    /* padding-left: 350px; */

    /* background-color: #FAFAFA; */
}
.everythingDashboard{
    background-color: #FAFAFA;
    height: 100vh;
}

.dashboard{
    padding-left: 325px;
    
    /* background-color: #FAFAFA; */
}