.displayLong{
    display: none;
}

.heroContainer{
    background-color: #121212;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;  
    display: flex;
    justify-content: space-between;
    padding: 48px 80px 156px 80px;
}

.heroContainer[variantWhite="white"]{
    background-color: #FFF7EB;
    color: #0D0D0D;
}

.yellowButtonContainer[variantWhite="white"]{
    display: none;
}


.heroHeadingContainer{
    width: 60%;
}

.heroHeading{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 56px;
    margin-bottom: 32px;
}

.heroText{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;  
    text-align: justify;
    letter-spacing: 1px;
    margin-bottom: 32px;
}

.heroImageContainer{
    width: 35%;
}

.heroImageContainer img{
    width: 100%;
    
}

/* ###############  RESPONSIVE DESIGN  ##################### */


/* ###########  MOBILE VIEW  ############ */
@media screen and (min-width: 200px) and (max-width: 768px){
    .heroContainer{
        flex-wrap: wrap;
        padding: 48px 48px 58px 48px;
    }

    .heroHeadingContainer, .heroImageContainer, .displayLong{
        width: 100%;
    }

    .heroHeading{
        font-size: 40px;
    }

    .heroText{
        font-size: 20px;
    }

    .yellowButtonContainer{
        display: none;
    }

    .displayLong{
        display: block;
        margin-top: 40px;
    } 
}


/* ###############  TABLET VIEW  ############## */

@media screen and (min-width: 767px) and (max-width: 1052px){

    .heroContainer{
        flex-wrap: wrap;
        padding: 48px 40px 58px 40px;
    }

    .heroHeading{
        font-size: 40px;
    }

    .heroText{
        font-size: 20px;
    }
}






/* ###############  LAPTOP VIEW  ############## */

/* @media screen and (min-width: 1001px) and (max-width: 1000px){

} */

