.yellowBtn{
    background-color: #FDAF33;
    border: none;
    outline: none;
    padding: 16px 8px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.yellowBtnContainer[buttonVariant="center"]{
    text-align: center;
}
.whiteBG{
    background-color: white;
    border: 1px solid #FDAF33;
    padding: 16px 24px;
    transition: background-color 0.3s;
}

.whiteBG:hover{
    background-color: #FDAF33;
}