.yellowBtn{
    background-color: #FDAF33;
    border: none;
    outline: none;
    padding: 16px 8px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

.yellowBtnContainer{
    padding: 16px;
    border-radius: 4px;
}

.yellowBtnContainer[buttonVariant="center"]{
    background-color: #FDAF33;
    text-align: center;
    width: 20%;
    margin: auto;
}
.yellowBtnContainer[buttonVariant="left"]{
    background-color: #FDAF33;
    text-align: center;
    padding: 16px;
    width: 30%;
}
.yellowBtnContainer[buttonVariant="long"]{
    text-align: center;
    width: 100%;
    background-color: #FDAF33;
}
.whiteBG{
    background-color: white;
    border: 1px solid #FDAF33;
    padding: 16px 24px;
    transition: background-color 0.3s;
}

.whiteBG:hover{
    background-color: #FDAF33;
}

.yellowBtn[borderWhite="white"]{
    border: 1px solid white;
    color: white;
    background-color: transparent;
    padding: 16px 16px;
    
}

button{
    background-color: transparent;
    width: 100%;
    /* padding: 16px 8px; */
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    border: none;
    font-family: "Montserrat", sans-serif; 
    font-size: 16px;
}

a{
    text-decoration: none;
    color: black;
}