.reviewCardContainer{
    width: 28%;
    display: flex;
}

.reviewCard{
    text-align: center;
    margin-top: 48px;
    background-color: #FFFFFF;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 16px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

.reviewerName{
    font-weight: 600;
    margin-bottom: 28px;
}

.reviewerImageContainer{
    margin-bottom: 16px;
}

.reviewRateContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: red; */
    height: 230px;
}

.reviewerReview{
    line-height: 22.4px;
    margin-bottom: 46px;
}


/* ###############  RESPONSIVE DESIGN  ##################### */

/* ###############  MOBILE VIEW  ############## */

@media screen and (min-width: 200px) and (max-width: 768px){

    .reviewCardContainer{
        width: 100%;
    }
    .reviewRateContainer{
        /* display: block; */
        height: 280px;
    }
    .reviewerReview{
        margin-bottom: 24px;
        /* background-color: red; */
    }
}

/* ###############  TABLET VIEW  ############## */
@media screen and (min-width: 767px) and (max-width: 1000px){
    .reviewCardContainer{
        width: 46%;
        
    }

    .reviewCardContainer:last-child{
        margin: auto;
    }
}
