.featureArticle{
    text-decoration: none;
    color: black;
    
}

.articlesContainer{
    padding: 64px 80px;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}

.articleCardContainer{
    /* display: flex; */
    /* justify-content: space-between; */
    /* background-color: green; */
    width: 45%;
}

.articlescardContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mainArticle{
    width: 45%;
    /* background-color: YELLOW; */
}

/* .mainArticleImageContainer{
    width: 100%;
} */
.mainArticleImageContainer img{
    width: 100%;
}

.mainArticleHeading{
    margin-top: 8px;
    margin-bottom: 8px;
}

.articleCard{
    display: flex;
}

.eachTermsDescriptionContainer p{
    margin-bottom: 22.4px;
}

.eachtermsHeading{
    line-height: 25.5px;
    margin-bottom: 8px;
}

.articleBtnContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
}

.eachtermsDescription{
    line-height: 25.5px;
}


/* ###############  TABLET VIEW  ############## */

@media screen and (max-width: 1349px){
    .articlesContainer{
        flex-wrap: wrap;
    }

    .mainArticle{
        width: 100%;
        /* background-color: YELLOW; */
    }

    .mainArticleImageContainer img{
        height: 50vh;
        width: 100%;
        object-fit: cover;
    }

   

    /* .articleCardContainer{
        width: 100%;
        display: flex;
    } */
    .articleCardContainer{
        /* background-color: green; */
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
                
    }
    .articleCard{
        display: block;
        /* justify-content: space-between; */
        width: 100%;
        
        /* width: 100%;
        display: flex; */
    }

    .imageContainer{
        
        width: 100%;
        margin: auto;
    }

    .imageContainer img{
        width: 95%;
        
    }

     .articleBtnContainer{
        flex-direction: column;
        justify-content: space-between;
        height: 280px;
    }

    /* .articleBtnContainer{
        width: 100%;
    } */
}



@media screen and (max-width: 1507px){
    .mainArticle{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1098px){
    .articleBtnContainer{
        height: 300px;
    }

    
}
@media screen and (max-width: 980px){

    .articlesContainer{
        padding: 64px 40px !important;
    }
    .articleBtnContainer{
        height: 330px;
    }

    .eachtermsHeading{
        font-size: 16px;
    }
}

@media screen and (max-width: 884px){
    .articleCardContainer{
        /* background-color: green; */
        flex-direction: column;
    }
    .articleCard{
        display: flex;
    }

    .articleBtnContainer{
        height: 200px;
    }
}

@media screen and (max-width: 765px){

    
    .mainArticle{
        width: 100%;
        /* background-color: YELLOW; */
    }

    .mainArticleImageContainer img{
        height: 50vh;
        width: 100%;
        object-fit: cover;
    }

   

    /* .articleCardContainer{
        width: 100%;
        display: flex;
    } */
    .articleCardContainer{
        /* background-color: green; */
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
                
    }
    .articleCard{
        
        display: block;
        /* justify-content: space-between; */
        width: 100%;
        
        /* width: 100%;
        display: flex; */
    }

    .imageContainer{
        width: 100%;
        height: 30vh;
        
        
    }

    .imageContainer img{
        width: 100%;
        object-fit: cover;
        height: 100%;
        
    }

     .articleBtnContainer{
        flex-direction: column;
        justify-content: space-between;
        height: 280px;
    }

    /* .articleBtnContainer{
        width: 100%;
    } */
}

@media screen and (max-width: 765px){
    .articleBtnContainer{
        height: 250px;
    }

}
@media screen and (max-width: 478px){
    .articleBtnContainer{
        height: 300px;
    }

    .main{
        font-size: 10px;
    }

}



