.navContainer, .navHomeAboutFeaturesResourcesContainer, .navLoginSignupContainer, .navUl{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navContainer{
    padding: 10px 80px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.hamburgerMenuIcon{
    display: none;
}

.navUl{
    width: 68.25%;
}


.navUl > div > .navli{
    list-style-type: none;
}

.navUl > div > .navli a, .navUl > div > .navliWhiteHover a{
    text-decoration: none;
    color: #0D0D0D;
    transition: color 0.3s, border-bottom 0.3s;
}

.navUl > div > .navli a:hover{
    color: #FDAF33;
    border-bottom: 1px solid #FDAF33;
}

.navUl > div > .navliWhiteHover a:hover{
    color: white;
}

.navLogoContainer{
    width: 20%;
}


.navHomeAboutFeaturesResourcesContainer{
    width: 50%;
}

.navLoginSignupContainer{
    width: 25%;
}

.navUl .navLoginSignupContainer a{
    color: #FDAF33;
    transition: color 0.3s;
}

.navUl .navLoginSignupContainer a:hover{
    color: #0D0D0D;
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.modalContent{
    width: 400px;
    padding-left: 20px;
    background-color: #FFFFFF;
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
}

.closeBtn{
    display: flex; 
    justify-content: end;
    color: black;
    font-size: 20px;
    padding-right: 15px;
    margin-bottom: 20px;
    
}

/* ###############  RESPONSIVE DESIGN  ##################### */
/* ###############  MOBILE VIEW  ############## */
/* @media screen and (min-width: 200px) and (max-width: 768px){ */



@media screen and (max-width: 1253px) {

    .navContainer{
        padding: 10px 30px;
    }

    .navUl{
        display: none;
    }

    .modalNavUl{
        display: flex;
        width: 100%;
    }

    .modalNavLi{
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 100%;
    }

    .hamburgerMenuIcon{
        display: block;
    }

 



    /* .navUl > .navli{
        color: red;
    } */
}

@media screen and (min-width: 1254px) and (max-width: 1400px){
    .navLogoContainer{
        width: 20%;
    }
    
    
    .navHomeAboutFeaturesResourcesContainer{
        width: 40%;
    }
    
    .navLoginSignupContainer{
        width: 30%;
    }
}

@media screen and (max-width: 558px){
    .navContainer{
        padding: 10px 10px;
    }

    .modalContent{
        width: 300px;
    }
}



