.articleSection{
    margin-top: 50px;
    
}

.categoriesSection{
    padding: 40px 0 64px 0;
    
}

/* DATA PRIVACY ARTICLE */

.articleHero{

}

.articleHero img{
    width: 100%;
}

.ul{
    padding-left: 30px;
}
.ul > .li{
    list-style-type: disc;
    margin-bottom: 16px;
    text-align: justify;
   
   
}

.dataPrivacyContainer{
    padding: 48px 80px 112.5px 80px;
}

.categoriesSection{
    font-family: "Montserrat", sans-serif;
}


/* ###############  TABLET VIEW  ############## */

@media screen and (max-width: 906px){
    .dataPrivacyContainer{
        padding: 48px 20px 112.5px 20px;
    }
}
@media screen and (max-width: 499px){
    .categoriesYellowbtn  p{
        font-size: 10px;
        
    }
}