.profileContainer{
    width: 90%;
}

.profileInfo{
    color: #FEC976;
}

.role{
    color: #FDAF33;
    font-size: 16px;
    font-weight: 500;
    padding: 4px 13.5px;
    border: 1px solid #FDAF33;
    
}

.profileAndSettingContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 37.5px;
}

.profileEditIconContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profilePictureContainer{
    text-align: center;
}

.profileDataContainer, .settingsContainer{
    width: 48%;
}

.settingsContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 50vh;
}

.settingOptions{
    width: 100%;
}

.profileDataContainer{
    background-color: #E9E9E9;
    padding: 32px 24px;
    border-radius: 4px;
}

/* .nameRoleContainer > span{
    display: block;
    background-color: yellow;
} */


.nameRoleContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.userDataContainer{
    margin-top: 28px;
}

.dataContainer{
    display: flex;
    justify-content: space-between;
    line-height: 36px;
    
}

.dataTitle{
    font-family: "Open Sans", sans-serif;  
    font-size: 18px;
    font-weight: 600;
}

.data{
    font-size: 16px;
    font-weight: 500;
}

.activityLogContainer  table  th, .activityLogContainer  table  td {
    background-color: transparent;
    text-align: center;
}

.activitySuccess{
    color: #00933B;
}

.logTitle{
    font-family: "Open Sans", sans-serif; 
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;
}

/* ########  RESPONSIVE STYLING ######### */
/*  ##############  TABLET VIEW ########## */

@media screen and (max-width: 1349px){
    .profileContainer{
        /* background-color: red; */
        width: 100%;
    }
}
@media screen and (max-width: 1000px){
    .profileDataContainer{
        width: 60%;
    }

    .settingsContainer{
        width: 35%;
    }
}
@media screen and (max-width: 877px){
    .profileAndSettingContainer{
        flex-wrap: wrap;
    }

    .profileDataContainer, .settingsContainer{
        width: 100%;
    }

   .settingsContainer{
    display: block;
    margin-top: 30px;
    margin-bottom: 0;
    height: auto;
   }
   
   .settingOptions{
    margin-bottom: 20px;
   }   
}

@media screen and (max-width: 502px){
    .dataTitle{
        font-size: 14px;
    }
    
    .data{
        font-size: 12px;
    }

    .profileTable > tr > th, .profileTable > tr > td{
        font-size: 10px;

    }
}
@media screen and (max-width: 410px){
    .dataContainer{
        flex-wrap: wrap;
    }
    .dataTitle, .data{
        width: 100%;
    }
}