.threatContainer{
    display: flex;
    justify-content: space-between;
}

.barChartContainer{
    width: 70%;
    
    background-color: white;
    padding: 14px;
}

.threatSummaryContainer{
    width: 28%;
    background-color: white;
    padding: 24px 26px;
}

.threatMonitorSummaryContainer{
    margin-bottom: 16px;
    
}


/* ##### From threat summary file ##### */

.propsthreatSummaryContainer{
    line-height: 32px;
    background-color: #FFF7EB;
    padding: 18px;
}

.threatAndTimeContainer{
    display: flex;
    justify-content: space-between;
    
}

.threatAndTimeContainer > span{
    font-weight: 600;
    font-size: 16px;
}

.threatAndTimeContainer > p{
    font-size: 14px;
}



/* ######## RESPONSIVE STYLING ######### */

/* ######## TABLET VIEW ######### */
@media screen and (max-width: 1253px){
    .threatContainer{
        flex-wrap: wrap;
    }

    .barChartContainer, .threatSummaryContainer{
        width: 100%;
    }
    
    .allThreatMonitorContainer{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .threatMonitorSummaryContainer{
        width: 49%;
    }
}

@media screen and (max-width: 797px){
    .threatMonitorSummaryContainer{
        width: 100%;
    }

    .barChartContainer{
        width: 100%;
    }
}
