.QuestionsAndAnswersContainer{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    width: 40%;
    margin: auto;
    
}

.QuestionsAndAnswersContainer:first-child{
    padding-top: 64px;
}

.questionPlusSign{
    display: flex;
    justify-content: space-between;
    
}

.questionPlusSign:not(:last-child){
    margin-bottom: 32px;
}

.answers{
    /* display: none; */
    margin-bottom: 16px;

}

.answers, .questionPlusSign{
    border: 1px solid #989898;
    border-radius: 4px;
    padding: 8px 16px;
}

/* ###############  RESPONSIVE DESIGN  ##################### */

@media screen and (min-width: 200px) and (max-width: 768px){
    .QuestionsAndAnswersContainer{
        
        width: 85%;
        
    }
}