.contactConatiner{
    width: 40%;
    line-height: 35px;
}

.contactDetails{
    display: flex;
    justify-content: space-between;
    font-weight: 600;

}

.contactDetails > span{
    width: 60%;
    text-align: left;
    font-weight: 400;
}


@media screen and (max-width: 840px){
    .contactConatiner{
        width: 100%;
        font-size: 14px;
    }
}