.featureCardContainer{
    width: 20%;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.featureImageContainer{
    padding: 40px 0 24px 0;
    width: 100%;
}

.featureImageContainer img{
    width: 100%;
    border-radius: 4px;
}

.titleDescriptionContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 250px; */
}

.featureTitle{
    font-size: 24px;
    font-weight: bold;
    line-height: 33.6px;
    margin-bottom: 16px;
}

.featureDescription{
    font-size: 16px;
    line-height: 22.4px;
}

/* ###############  RESPONSIVE DESIGN  ##################### */

@media screen and (min-width: 200px) and (max-width: 768px){
    .featureCardContainer{
        width: 100%;
        margin-top: 20px;
    }
}


/* ###############  TABLET VIEW  ############## */
@media screen and (min-width: 767px) and (max-width: 1000px){
    .featureCardContainer{
        width: 46%;
        margin-top: 20px;
        
    }
}

/* ###############  LAPTOP VIEW  ############## */
@media screen and (min-width: 1001px) and (max-width: 1060px){
    .titleDescriptionContainer{
        height: 270px;
    }
}

@media screen and (min-width: 1061px) and (max-width: 1120px){
    .titleDescriptionContainer{
        height: 260px;
    }
}
@media screen and (min-width: 1121px) and (max-width: 1400px){
    .titleDescriptionContainer{
        height: 240px;
    }
}
