.resourceHeroContainer {
    position: relative;
    width: 100%;
    min-height: 600px;  /* Adjustable based on content */
    padding: 40px 20px;  /* Padding for internal spacing */
    box-sizing: border-box;  /* Include padding in width/height calculation */
    margin-bottom: 50px;  /* Space between this section and the next */
    background-size: cover;  /* Cover the entire area of the container */
    background-repeat: no-repeat;  /* Do not repeat the background image */
    background-position: center;  /* Center the background image */
    background-image: url('https://res.cloudinary.com/dbv1y1xey/image/upload/v1711713678/Frame_626420_vj01ei.svg'); /* Default background image */
}

.resourceHeroContainer[resourceSecondHero="anotherHero"] {
    background-image: url('https://res.cloudinary.com/dbv1y1xey/image/upload/v1711713677/Frame_427322087_zk9zfp.svg');  /* Variant background image */
}

@media (max-width: 768px) {
    .resourceHeroContainer {
        min-height: 400px;  /* Smaller height for smaller devices */
        padding: 20px 10px;  /* Smaller padding */
    }
}

.resourceHeroOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;  /* Vertical centering of the content */
    justify-content: center;  /* Horizontal centering of the content */
}

.resourceHeroText {
    color: white;  /* Text color */
    font-size: 44px;  /* Large font size for visibility */
    text-align: center;  /* Center-align the text */
    padding: 0 15px;  /* Padding to ensure text does not touch the edges */
    text-shadow: 2px 2px 8px rgba(0,0,0,0.8);
    background: rgba(0, 0, 0, 0.5);
}

@media (max-width: 1024px) {
    .resourceHeroText {
        font-size: 36px;  /* Smaller font size on tablets */
    }
}

@media (max-width: 768px) {
    .resourceHeroText {
        font-size: 28px;  /* Smaller font size on mobile devices */
    }
}
