.sponsors{
    background-color:#FFF7EB;
    padding: 24px 80px;
    margin-bottom: 48px;
    
}

.aboutUsHomeContainer{
    margin-bottom: 64px;
}

.featuresSectionContainer{
    padding: 64px 80px 64.5px 80px;
}

.featuresContainer{
    display: flex;
    justify-content: space-between;
}

.faqsContainer{
    padding: 64px 0 77px 0;
    background-color: #FFF7EB;
}

.reviewContainer{
    background-color: #E9E9E9;
    padding: 64px 80px 68px 80px;
}

.contactSection{
    padding: 36.5px 0 80px 0;
}

