.formImageContainer{
    display: flex;
    font-family: "Montserrat", sans-serif;
}

.formContainer{
    width: 50%;
    margin: auto;
    padding-top: 50px;
}


.imageContainer{
    height: auto;
    width: 40%;
}

.imageContainer img{
    height: 100%;
}

.createAccount{
    font-size: 28px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif; 
    margin-bottom: 16px;
}

.formIntroContainer{
    text-align: center;
    margin-bottom: 32px;
}

.fillForm, .formInput, .formLlabel{
    font-size: 16px;
}

.fillForm{
    text-align: center;
}

.formInput{
    width: 100%;
    padding: 16px 16px 16px 8px;
    outline: 0;
    border: 0.5px solid #989898;
    border-radius: 4px;
}


.formErrors{
    margin-bottom: 16px;
    color: red ;
}
.formLabel{
    display: block;
    margin-bottom: 8px;
}

.formCheckbox{
    /* margin-bottom: 32px; */
    padding-right: 16px;
    display: block;
    /* background-color: red; */
}
/* .formErrors{
    background-color: red;
} */

.Checkboxterms{
    display: flex;
    align-items: center;
    margin-bottom: 37px;
}

.Checkboxterms a{
    text-decoration: none;
}

.checkboxSpan{
    padding-left: 8px;
}

.terms input{
    padding: 0;
    margin: 0;
    width: 10%;
} 

.createAccountLogin{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}

.createAccountLogin a{
    color: #FDAF33;
    font-weight: 600;
}

/* input[type="checkbox"]{
    appearance: none;
    color: #FDAF33;
    width: 20px;
  height: 20px;
  Add custom styles
  border: 2px solid #FDAF33;
  border-radius: 4px;
  cursor: pointer;
} */

.modalLogo{
    text-align: center;
    margin-bottom: 32px;
}



/* ###########  RESPONSIVE STYLING ############# */

/*  ##############  TABLET VIEW ########## */

@media screen and (max-width: 1349px){
    .imageContainer{
        display: none;
    
    }

    .formContainer{
        width: 70%;
        padding: 50px;
    }
}

@media screen and (max-width: 771px){
    .formContainer{
        width: 90%;
    }
}

@media screen and (max-width: 612px){
    .formContainer{
        width: 97%;
        padding: 50px 24px;
    }
}
@media screen and (max-width: 517px){
    .checkboxSpan{
        font-size: 12px;
    }
}
@media screen and (max-width: 407px){
    .checkboxSpan{
        font-size: 10px;
    }

    .createAccountLogin{
        font-size: 12px;
    }
}


